.venv
.git
.github
__pycache__
*.pyc
notebooks
data/raw
data/processed
mlruns
mlflow.db
artifacts/baseline_results.csv
artifacts/evaluation
artifacts/imbalance
artifacts/optuna
artifacts/champion/champion_challenger_results.csv
models/logistic_regression.pkl
models/random_forest.pkl
models/xgboost.pkl
models/optimized
models/imbalance
models/zenml
tests
